@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #0f66de;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --font-ibm-plex-mono: var(--font-ibm-plex-mono);
  --font-space-mono: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --main: #0f66de;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), Arial, Helvetica, sans-serif;
}
